@CHARSET "UTF-8";
body{
    font: normal 8pt verdana, helvetica, sans-serif;
}

h2 {
	font-size:120%;
}

table {
    width:100%;
    font-size: 120%;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

td {
    padding: 5px;
    text-align: left;    
}